@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&family=Quicksand:wght@400;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #707283;
  line-height: 1;
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: #FFF8F5;
}

input,
button,
textarea {
  font-family: "Quicksand", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}


.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  display: block;
  padding: 1.125rem 1.875rem;
  border-radius: 1.875rem;
  box-shadow: 0px 12px 35px rgba(210, 197, 192, 0.25);
  overflow: hidden;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

@media (min-width: 76.875em) {
  .page__mainblock {
    margin-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__mainblock {
    margin-top: calc(2.5rem + 0 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .page__mainblock {
    margin-top: 2.5rem;
  }
}
@media (min-width: 76.875em) {
  .page__mainblock {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__mainblock {
    padding-bottom: calc(3.125rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .page__mainblock {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .page__working {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__working {
    padding-top: calc(3.125rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .page__working {
    padding-top: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .page__working {
    padding-bottom: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__working {
    padding-bottom: calc(3.125rem + 5 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .page__working {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .page__services {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__services {
    padding-bottom: calc(3.125rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .page__services {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .page__groomers {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__groomers {
    padding-top: calc(3.125rem + 3.125 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .page__groomers {
    padding-top: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .page__groomers {
    padding-bottom: 11.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__groomers {
    padding-bottom: calc(3.125rem + 8.125 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .page__groomers {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .page__pack {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__pack {
    padding-top: calc(3.125rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .page__pack {
    padding-top: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .page__pack {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__pack {
    padding-bottom: calc(3.125rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .page__pack {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .page__contact {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__contact {
    padding-top: calc(3.125rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .page__contact {
    padding-top: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .page__contact {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__contact {
    padding-bottom: calc(3.125rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .page__contact {
    padding-bottom: 3.125rem;
  }
}

.button {
  white-space: nowrap;
  border-radius: 1.875rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.1875rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.35;
  transition: all 0.3s ease 0s;
  background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
  color: #fff;
}
@media (any-hover: hover) {
  .button:hover {
    background: linear-gradient(180deg, #dd8d77 0%, #c35b3e 65%);
  }
}

.subtitle {
  font-weight: 800;
  line-height: 1.35;
  text-align: center;
  color: #FF7751;
  font-family: "Nunito", sans-serif;
}
@media (min-width: 76.875em) {
  .subtitle {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .subtitle {
    font-size: calc(1rem + 0.25 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .subtitle {
    font-size: 1rem;
  }
}

.title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  line-height: 1.53125;
  text-align: center;
  color: #242851;
}
@media (min-width: 76.875em) {
  .title {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .title {
    font-size: calc(1.5625rem + 2.4375 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.5625rem;
  }
}

.bg {
  background: #FFECE4;
  margin: 0 auto;
}
@media (min-width: 76.875em) {
  .bg {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .bg {
    padding-top: calc(3.125rem + 3.125 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .bg {
    padding-top: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .bg {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .bg {
    padding-bottom: calc(3.125rem + 3.125 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .bg {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .bg {
    width: 93.125rem;
    border-radius: 3.125rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 6;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #FF7751;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.header__body {
  display: flex;
  align-items: center;
}
@media (min-width: 76.875em) {
  .header__body {
    gap: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__body {
    gap: calc(0.9375rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .header__body {
    gap: 0.9375rem;
  }
}
@media (min-width: 80.625em) {
  .header__body {
    min-height: 10rem;
  }
}
@media (min-width: 62em) and (max-width: 80.625em) {
  .header__body {
    min-height: calc(4.375rem + 5.625 * (((100vw - 62rem)) / ((18.625))));
  }
}
@media (max-width: 62em) {
  .header__body {
    min-height: 4.375rem;
  }
}
@media (max-width: 61.99875em) {
  .header__body {
    min-height: 4.375rem;
  }
}
.header__logo {
  position: relative;
  z-index: 10;
}
@media (min-width: 76.875em) {
  .header__logo {
    width: 9.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__logo {
    width: calc(6.25rem + 3 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .header__logo {
    width: 6.25rem;
  }
}
@media (min-width: 76.875em) {
  .header__logo {
    height: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__logo {
    height: calc(3.4375rem + 0 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .header__logo {
    height: 3.4375rem;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__menu {
  flex: 1 1 auto;
}
.header__mobile {
  background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
  box-shadow: 0px 0.625rem 1.5625rem rgba(255, 124, 84, 0.3);
  border-radius: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 10;
}
@media (min-width: 76.875em) {
  .header__mobile {
    padding-top: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__mobile {
    padding-top: calc(0.4375rem + 0.5625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .header__mobile {
    padding-top: 0.4375rem;
  }
}
@media (min-width: 76.875em) {
  .header__mobile {
    padding-bottom: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__mobile {
    padding-bottom: calc(0.4375rem + 0.5625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .header__mobile {
    padding-bottom: 0.4375rem;
  }
}
@media (min-width: 76.875em) {
  .header__mobile {
    padding-left: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__mobile {
    padding-left: calc(0.9375rem + 1.25 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .header__mobile {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .header__mobile {
    padding-right: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__mobile {
    padding-right: calc(0.9375rem + 1.25 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .header__mobile {
    padding-right: 0.9375rem;
  }
}
.header__tel {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 1.35;
  white-space: nowrap;
}
@media (min-width: 76.875em) {
  .header__tel {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__tel {
    font-size: calc(0.875rem + 0.375 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .header__tel {
    font-size: 0.875rem;
  }
}
@media (max-width: 29.99875em) {
  .header__tel {
    font-weight: 500;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    transition: all 0.3s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: -100%;
    left: 0;
    background-color: white;
    padding: 6.25rem 1.25rem 3.125rem 1.25rem;
    z-index: 5;
  }
  .menu__body::before {
    transition: all 0.3s ease 0s;
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    top: -100%;
    left: 0;
    background-color: #FFECE4;
    z-index: 6;
  }
}
.menu__list {
  display: flex;
  justify-content: center;
}
@media (min-width: 76.875em) {
  .menu__list {
    gap: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .menu__list {
    gap: calc(1.25rem + 2.1875 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .menu__list {
    gap: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    flex-direction: column;
  }
}
.menu__link {
  font-weight: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.35;
  color: #242851;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #FF7751;
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.menu-open .menu__body {
  top: 0;
}
.menu-open .menu__body::before {
  top: 0;
}
.footer__body {
  display: flex;
}
@media (min-width: 76.875em) {
  .footer__body {
    gap: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__body {
    gap: calc(0.9375rem + 5.3125 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .footer__body {
    gap: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .footer__body {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__body {
    margin-bottom: calc(1.875rem + 4.375 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .footer__body {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 61.99875em) {
  .footer__body {
    flex-direction: column;
  }
}
.footer__subscribe {
  flex: 0 1 25%;
}
.footer__items {
  flex: 1 1 auto;
  justify-content: space-between;
  display: flex;
}
@media (min-width: 76.875em) {
  .footer__items {
    gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__items {
    gap: calc(0.9375rem + 0.9375 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .footer__items {
    gap: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__items {
    flex-direction: column;
  }
}
.footer__item {
  flex: 0.333%;
}
.footer__title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  line-height: 1.3571428571;
  color: #242851;
}
@media (min-width: 76.875em) {
  .footer__title {
    font-size: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__title {
    font-size: calc(1.25rem + 0.5 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .footer__title {
    font-size: 1.25rem;
  }
}
.footer__title:not(:last-child) {
  margin-bottom: 0.8928571429em;
}
@media (max-width: 47.99875em) {
  .footer__title:not(:last-child) {
    margin-bottom: 0.3571428571em;
  }
}
.footer__bottom {
  display: flex;
  justify-content: center;
  line-height: 1.6666666667;
  text-align: center;
}
@media (min-width: 76.875em) {
  .footer__bottom {
    margin-top: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__bottom {
    margin-top: calc(0.9375rem + 0.9375 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .footer__bottom {
    margin-top: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .footer__bottom {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__bottom {
    margin-bottom: calc(0.9375rem + 0.9375 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .footer__bottom {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .footer__bottom {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__bottom {
    font-size: calc(0.875rem + 0.25 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .footer__bottom {
    font-size: 0.875rem;
  }
}

.subscribe__logo {
  margin-bottom: 1.5625rem;
  width: 8.125rem;
  height: 3.125rem;
  display: block;
}
.subscribe__logo img {
  width: 100%;
  height: 100%;
}
.subscribe__text {
  line-height: 1.6666666667;
  margin-bottom: 1.875rem;
}
.subscribe__line {
  display: flex;
  overflow: hidden;
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .subscribe__line {
    flex-direction: column;
  }
}
.subscribe__input {
  padding: 1.125rem 1.875rem;
  border-radius: 1.875rem;
  box-shadow: 0px 12px 35px rgba(210, 197, 192, 0.25);
}

.info__phone {
  display: block;
  line-height: 1.6666666667;
}
.info__phone:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.info__mail {
  display: block;
  line-height: 1.6666666667;
}
.info__mail:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.info__address {
  line-height: 1.6666666667;
}

.menu-footer__list li:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.menu-footer__link {
  line-height: 1.6666666667;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #FF7751;
  }
}

.worktime__item {
  line-height: 1.6666666667;
}
.worktime__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.mainblock__container {
  display: flex;
}
@media (max-width: 47.99875em) {
  .mainblock__container {
    flex-direction: column;
    gap: 3.125rem;
  }
}
.mainblock__body {
  flex: 0 1 60%;
  padding: 0 1.25rem;
  position: relative;
}
@media (min-width: 76.875em) {
  .mainblock__body .toy {
    position: absolute;
    top: -10%;
    left: -5%;
    background: url("../img/toy/toy-l.svg") no-repeat;
    width: 7.5rem;
    height: 7.5rem;
  }
}
.mainblock__title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  line-height: 1.1875;
  color: #242851;
}
@media (min-width: 76.875em) {
  .mainblock__title {
    font-size: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .mainblock__title {
    font-size: calc(2.1875rem + 2.8125 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .mainblock__title {
    font-size: 2.1875rem;
  }
}
.mainblock__title:not(:last-child) {
  margin-bottom: 0.3125em;
}
.mainblock__subtitle {
  font-size: 1.125rem;
  line-height: 1.8888888889;
}
.mainblock__subtitle:not(:last-child) {
  margin-bottom: 1.6666666667em;
}
@media (min-width: 61.99875em) {
  .mainblock__subtitle {
    max-width: 37.5rem;
  }
}
.mainblock__buttons {
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .mainblock__buttons {
    flex-wrap: wrap;
  }
}
@media (max-width: 47.99875em) {
  .mainblock__button {
    width: 100%;
  }
}
.mainblock__button_orange {
  background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
}
.mainblock__button_green {
  background: linear-gradient(180deg, #C3E48F 0%, #8EC637 65%);
}
.mainblock__image-ibg_contain {
  padding: 0 0 42% 0;
  flex: 0 0 39%;
  position: relative;
}
@media (min-width: 76.875em) {
  .mainblock__image-ibg_contain .toy_1 {
    position: absolute;
    top: -10%;
    right: -5%;
    background: url("../img/toy/toy-up.svg") no-repeat;
    width: 7.5rem;
    height: 7.5rem;
  }
  .mainblock__image-ibg_contain .toy_2 {
    position: absolute;
    bottom: 20%;
    right: -25%;
    background: url("../img/toy/toy-b.svg") no-repeat;
    width: 5.625rem;
    height: 5.625rem;
  }
  .mainblock__image-ibg_contain .toy_3 {
    position: absolute;
    bottom: 40%;
    left: -15%;
    background: url("../img/toy/toy.svg") no-repeat;
    width: 5.625rem;
    height: 5.625rem;
  }
}
.mainblock__image-ibg_contain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #FF9E75;
  filter: blur(200px);
}
@media (max-width: 47.99875em) {
  .mainblock__image-ibg_contain {
    padding: 0 0 50% 0;
  }
}

.working__title:not(:last-child) {
  margin-bottom: 0.8823529412em;
}
.working__items {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
}
.item-working {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.125rem 2.5rem;
  border-radius: 1.875rem;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-working:hover {
    background: linear-gradient(180deg, #FFBBA9 0%, #FF6236 100%);
    color: #fff;
  }
  .item-working:hover .item-working__title {
    color: #fff;
  }
}
.item-working__img {
  box-shadow: 0px 12px 25px rgba(130, 129, 128, 0.3);
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 76.875em) {
  .item-working__img {
    width: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-working__img {
    width: calc(4.375rem + 1.875 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .item-working__img {
    width: 4.375rem;
  }
}
@media (min-width: 76.875em) {
  .item-working__img {
    heigth: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-working__img {
    heigth: calc(4.375rem + 1.875 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .item-working__img {
    heigth: 4.375rem;
  }
}
@media (min-width: 76.875em) {
  .item-working__img {
    margin-bottom: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-working__img {
    margin-bottom: calc(1.25rem + 0.9375 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .item-working__img {
    margin-bottom: 1.25rem;
  }
}
.item-working__img img {
  width: 100%;
  height: 100%;
}
.item-working__title {
  transition: all 0.3s ease 0s;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.625rem;
  line-height: 1.3461538462;
  text-align: center;
  color: #242851;
}
.item-working__title:not(:last-child) {
  margin-bottom: 0.7692307692em;
}
.item-working__text {
  text-align: center;
  line-height: 1.5555555556;
}

.services__container {
  display: flex;
}
@media (max-width: 47.99875em) {
  .services__container {
    flex-direction: column;
    gap: 3.125rem;
  }
}
.services__body {
  flex: 0 1 60%;
}
@media (min-width: 47.99875em) and (min-width: 76.875em) {
  .services__body {
    padding-right: 3.125rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 76.875em) {
  .services__body {
    padding-right: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (min-width: 47.99875em) and (max-width: 20em) {
  .services__body {
    padding-right: 1.25rem;
  }
}
@media (min-width: 61.99875em) {
  .services__subtitle {
    text-align: left;
  }
}
.services__title:not(:last-child) {
  margin-bottom: 0.3125em;
}
@media (min-width: 61.99875em) {
  .services__title {
    text-align: left;
  }
}
.services__text {
  line-height: 1.6666666667;
  margin-bottom: 1.5625rem;
}
.services__list:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.services__link {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  line-height: 1.3888888889;
  color: #242851;
  display: inline-flex;
  align-items: center;
}
.services__link:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.services__link::before {
  margin: 0 0.625rem 0 0;
  content: "";
  background: url("../img/li.svg") 0 0 no-repeat;
  flex: 0 0 1.5rem;
  height: 1.5rem;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .services__button {
    width: 100%;
  }
}
@media (min-width: 76.875em) {
  .services__toy {
    position: absolute;
    bottom: 15%;
    background: url("../img/toy/toy-service.svg") no-repeat;
    width: 10.25rem;
    height: 10.25rem;
  }
  .services__toy_left {
    left: -25%;
  }
  .services__toy_right {
    right: -12%;
    transform: rotate(33deg);
  }
}
.services__image-ibg_contain {
  padding: 0 0 40% 0;
  flex: 0 0 35%;
  position: relative;
}
.services__image-ibg_contain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #FFCDB8;
  filter: blur(200px);
}
@media (max-width: 29.99875em) {
  .services__image-ibg_contain {
    flex: 0 0 60%;
    padding: 0 0 60% 0;
  }
}

.groomers__title:not(:last-child) {
  margin-bottom: 0.46875em;
}
.groomers__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1.875rem;
}
.groomers__item {
  background: #FFFFFF;
  border-radius: 9.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.125rem 3.125rem 4.375rem 3.125rem;
}

.item-groomers__image {
  width: 11.875rem;
  height: 11.875rem;
  margin-bottom: 1.875rem;
}
.item-groomers__image img {
  width: 100%;
  height: 100%;
}
.item-groomers__name {
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  line-height: 1.375;
  font-size: 1.5rem;
  text-align: center;
  color: #242851;
}
.item-groomers__name:not(:last-child) {
  margin-bottom: 0.2916666667em;
}
.item-groomers__position {
  color: #FF7751;
  font-weight: 700;
  line-height: 1.2222222222;
  text-align: center;
}

.pack__items {
  display: grid;
  gap: 1.875rem;
}
@media (min-width: 76.875em) {
  .pack__items {
    align-items: center;
    gap: 0;
  }
}
@media (min-width: 47.99875em) {
  .pack__items {
    grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  }
}
.item-pack {
  box-shadow: 0px 15px 40px rgba(217, 200, 193, 0.3);
  padding: 3.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
}
@media (max-width: 76.875em) {
  .item-pack {
    border-radius: 0;
  }
}
.item-pack__name {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.3571428571;
  text-align: center;
  color: #242851;
}
.item-pack__name:not(:last-child) {
  margin-bottom: 0.1785714286em;
}
.item-pack__period {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  line-height: 1.36;
  text-align: center;
  color: #242851;
}
@media (min-width: 76.875em) {
  .item-pack__period {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-pack__period {
    font-size: calc(1.5625rem + 1.5625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .item-pack__period {
    font-size: 1.5625rem;
  }
}
.item-pack__period:not(:last-child) {
  margin-bottom: 1em;
}
.item-pack__services:not(:last-child) {
  margin-bottom: 3.125rem;
}
.item-pack__service {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25;
  text-align: center;
}
@media (min-width: 76.875em) {
  .item-pack__service:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-pack__service:not(:last-child) {
    margin-bottom: calc(0.625rem + 0.9375 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .item-pack__service:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.item-pack__price {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  line-height: 1.36;
  text-align: center;
  color: #FF7751;
}
@media (min-width: 76.875em) {
  .item-pack__price {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-pack__price {
    font-size: calc(1.5625rem + 1.5625 * (((100vw - 20rem)) / ((56.875))));
  }
}
@media (max-width: 20em) {
  .item-pack__price {
    font-size: 1.5625rem;
  }
}
.item-pack__price:not(:last-child) {
  margin-bottom: 3.125rem;
}
.item-pack__price span {
  font-size: 1.25rem;
  line-height: 1.4;
}
@media (max-width: 47.99875em) {
  .item-pack__buy {
    width: 100%;
  }
}

.item-pack_orange {
  background: linear-gradient(180deg, #FFA389 0%, #FF6439 100%);
  box-shadow: 0px 15px 40px rgba(255, 103, 61, 0.3);
  color: white;
  border-radius: 1.25rem;
}
@media (max-width: 76.875em) {
  .item-pack_orange {
    border-radius: 0rem;
  }
}
.item-pack_orange .item-pack__period {
  color: white;
}
.item-pack_orange .item-pack__name {
  color: white;
}
.item-pack_orange .item-pack__price {
  color: white;
}
.item-pack_orange .item-pack__buy {
  color: #FF7751;
  background: #fff;
}
@media (any-hover: hover) {
  .item-pack_orange .item-pack__buy:hover {
    color: white;
    background: linear-gradient(180deg, #C3E48F 0%, #8EC637 65%);
  }
}

.item-pack_left {
  border-radius: 1.25rem 0 0 1.25rem;
}
@media (max-width: 76.875em) {
  .item-pack_left {
    border-radius: 0rem;
  }
}

.item-pack_right {
  border-radius: 0 1.25rem 1.25rem 0;
}
@media (max-width: 76.875em) {
  .item-pack_right {
    border-radius: 0rem;
  }
}

.contact__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .contact__container {
    flex-direction: column;
    gap: 3.125rem;
  }
}
.contact__body {
  flex: 0 1 55%;
}
.contact__title:not(:last-child) {
  margin-bottom: 0.46875em;
}
@media (min-width: 47.99875em) {
  .contact__title {
    text-align: left;
  }
}
.contact__text {
  line-height: 1.6666666667;
}
.contact__text:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media (max-width: 47.99875em) {
  .contact__button {
    width: 100%;
  }
}
.contact__image-ibg_contain {
  flex: 0 0 40%;
  padding: 0 0 33% 0;
  position: relative;
}
.contact__image-ibg_contain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #FFCDB8;
  filter: blur(200px);
}
